<a href="https://colab.research.google.com/github/EstebanJM/V.Data/blob/main/01_Phyton_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction 

In this file, we are going to *code* 

We are going understand Phyton, how its work, and some tricks.

# 1. What is Phyton?
It was created in 1991 and it is a **general-purposue programming language**  

This mean that Phyton is used for:
* Data analysis
* Automatic task
* Machine learning
* Data visualization
* Optimization
* Web development
* User Interfaces creation
* Create another software - Video game

The world run on Phyton, C++, Java and HTLM / CSS, AND R?

# 2. Why Phyton?

The main reasons:

* It is simple.
* Focus.
* Easy to learn
* Open-source: It's free.
* Cross-platorm.
* Extensive libraries.

# 3. Getting Stared

## 3.1. Phyton as a calculator

In [ ]:
# Addition
2 + 2

4

In [ ]:
# Substraction
367 - 289

78

In [ ]:
# Multiplication
567 * 2324

1317708

In [ ]:
# Division
10 / 3

3.3333333333333335

In [ ]:
# Integer division 
10 // 3

3

In [ ]:
# Exponential
2**3

8

## 3.2 Composite operations and parenthesis

In [ ]:
#Example

2 + 3*4

14

You can change the operator precedence using **pharenteshis**

In [ ]:
# Example

(2+3)*4

20

## 3.3 integers and real numbers

In [ ]:
#Interger (with no decimal positions)
type(26)

int

In [ ]:
#Real number (with decimal positions)

type(2.5)

float

In [ ]:
# Examples 
## Find out if the next expressions are int our floats
2+3.0
2.5*7
4.0/2

In [ ]:
type(2+3.0)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.0/2)

float

### Scientific notation

In [ ]:
# Example
5e1

50.0

In [ ]:
# Example
6e-2

0.06

# Practice
# Write 1 millon in scientific notation
# what is the result of 3e0.2

In [ ]:
1e6

1000000.0

In [ ]:
1e0.2

SyntaxError: ignored

### Transformation
You can change the `type()`

In [ ]:
#Example
float(2)

2.0

In [ ]:
#Example
int(3.3333)

3

## 3.4 Basic and useful functions

Functions let us do things more efficiently

### **Print**

In [4]:
# Example with numbers 

print(2023) 
print(2024)
print(22,2,2022)

2023
2024
22 2 2022

In [7]:
## Example
for i in range (0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
# Example with text
print("Hello world")
print ("First Name: Michael", "Second name: Esteban ")
print ("First Name: Michael", "\tSecond name: Esteban ")
print ("First Name: Michael", "\nSecond name: Esteban ")

Hello world
First Name: Michael Second name: Esteban
First Name: Michael 	Second name: Esteban
First Name: Michael
Second name: Esteban

In [14]:
# Example - text and numbers

print("My lucky number is:", 10)

My lucky number is: 10

### **Round**

It will tle us to control the decimal positions

In [28]:
# Example
# Consider 8.53214794
# Let us use round

print("the approximation of", 8.53214794, "with", 0, "decimals is:", (round(8.53214794,0)))
print("the approximation of", 8.53214794, "with", 1, "decimals is:", (round(8.53214794,1)))

the approximation of 8.53214794 with 0 decimals is: 9.0
the approximation of 8.53214794 with 1 decimals is: 8.5

In [45]:
print("the approximation of", 8.53214794, "with:")
print("Decimals", "\t", "Result")
print(0, "\t", "\t", (round(8.53214794,0)))
print(1, "\t", "\t", (round(8.53214794,1)))

the approximation of 8.53214794 with:
Decimals 	 Result
0 	 	 9.0
1 	 	 8.5

In [81]:
print("Decimals", "\t", "Result")
for i in range (0,8): print(i, "\t", "\t", (round(8.53214794,i)))

Decimals 	 Result
0 	 	 9.0
1 	 	 8.5
2 	 	 8.53
3 	 	 8.532
4 	 	 8.5321
5 	 	 8.53215
6 	 	 8.532148
7 	 	 8.5321479

In [89]:
print(100, "Mulples of", 2)
print("Multiple", "\t", "Result")
for i in range (1,101): print(i, "\t", "\t", (2*i))

100 Mulples of 2
Multiple 	 Result
1 	 	 2
2 	 	 4
3 	 	 6
4 	 	 8
5 	 	 10
6 	 	 12
7 	 	 14
8 	 	 16
9 	 	 18
10 	 	 20
11 	 	 22
12 	 	 24
13 	 	 26
14 	 	 28
15 	 	 30
16 	 	 32
17 	 	 34
18 	 	 36
19 	 	 38
20 	 	 40
21 	 	 42
22 	 	 44
23 	 	 46
24 	 	 48
25 	 	 50
26 	 	 52
27 	 	 54
28 	 	 56
29 	 	 58
30 	 	 60
31 	 	 62
32 	 	 64
33 	 	 66
34 	 	 68
35 	 	 70
36 	 	 72
37 	 	 74
38 	 	 76
39 	 	 78
40 	 	 80
41 	 	 82
42 	 	 84
43 	 	 86
44 	 	 88
45 	 	 90
46 	 	 92
47 	 	 94
48 	 	 96
49 	 	 98
50 	 	 100
51 	 	 102
52 	 	 104
53 	 	 106
54 	 	 108
55 	 	 110
56 	 	 112
57 	 	 114
58 	 	 116
59 	 	 118
60 	 	 120
61 	 	 122
62 	 	 124
63 	 	 126
64 	 	 128
65 	 	 130
66 	 	 132
67 	 	 134
68 	 	 136
69 	 	 138
70 	 	 140
71 	 	 142
72 	 	 144
73 	 	 146
74 	 	 148
75 	 	 150
76 	 	 152
77 	 	 154
78 	 	 156
79 	 	 158
80 	 	 160
81 	 	 162
82 	 	 164
83 	 	 166
84 	 	 168
85 	 	 170
86 	 	 172
87 	 	 174
88 	 	 176
89 	 	 178
90 	 	 180
91 	 	 182
92 	 	 184
93 	 	 186
94 	 	 188
95 	 	 190
96 	 	 192
97 	 	 194
98 	 	 196
99 	 	 198
100 	 	 200