<a href="https://colab.research.google.com/github/EstebanJM/V.Data/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and Pandas**

it is the Excel of Phyton.

In [1]:
# Libraries 

import numpy as np
import pandas as pd

#**2. Series**

A *series* is a one dimensional object

## 2.1 Series creation

In [2]:
# Empty series

emp = pd.Series
print(emp)

<class 'pandas.core.series.Series'>

In [14]:
# Create a series by typing values

print("Location","Result")
s_int = pd.Series([1,2,3,4,5,6,7,8,9]) 
print(s_int)

s_name = pd.Series(["Esteban", "Luisa", "Tatiana"])
print(s_name)

Location Result
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Esteban
1      Luisa
2    Tatiana
dtype: object

In [15]:
# Cr
s_rand = pd.Series (np.random.rand(10))
print(s_rand)

0    0.670013
1    0.610049
2    0.524273
3    0.278968
4    0.689108
5    0.448189
6    0.638758
7    0.548528
8    0.655970
9    0.523332
dtype: float64

## 2.2 Indexing

In [16]:
# Check the index of a series

s_rand.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
# Create your own index
new_index = ["A", "B", "C"]
s_name= s_name.set_axis(new_index)
print(s_name)

A    Esteban
B      Luisa
C    Tatiana
dtype: object

## 2.3 Select and Slice

In [23]:
#Simple selection
s_name["A"]

'Esteban'

In [24]:
# select diferent elements 
s_rand[[4,6]]

4    0.689108
6    0.638758
dtype: float64

In [28]:
# Anothe way

s_rand[:3]

0    0.670013
1    0.610049
2    0.524273
dtype: float64