<a href="https://colab.research.google.com/github/EstebanJM/V.Data/blob/main/project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Intro**


Database of the most popular games on Steam.

* **Audience** Gamers and people interested in video games
* **Variable**: **Current:** it's the current number of players on steam per video game. **All-time Peak:** This variable refers, to the maximum number of players on steam per video game.

#**2. Import**

In [107]:
# Libraries 

import numpy as np
import pandas as pd
import plotly.express as px

In [108]:
p = "/content/Data1.xlsx"

d = pd.read_excel(p)

d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Position       100 non-null    int64
 1   Name           100 non-null    object
 2   Code           100 non-null    object
 3   Genres         100 non-null    object
 4   Current        100 non-null    int64
 5   24h Peak       100 non-null    int64
 6   All-Time Peak  100 non-null    int64
dtypes: int64(4), object(3)
memory usage: 5.6+ KB

In [109]:
# Check the first entries
d.head()

,Position,Name,Code,Genres,Current,24h Peak,All-Time Peak
0,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896,400679,3257248
1,1,Counter-Strike: Global Offensive,CSG,Action,1152010,1365336,1519457
2,17,Lost Ark,L.ARK,Role,63053,87893,1325305
3,2,Dota 2,DOTA,Action,573258,581345,1295114
4,77,Cyberpunk 2077,CYBER2077,Role,14635,15228,1054388

In [110]:
# check the last entries
d.tail()

,Position,Name,Code,Genres,Current,24h Peak,All-Time Peak
95,49,Albion Online,ALBION,Role,23554,24564,25863
96,72,Soundpad,SOUNDP,Audio,16008,19028,21920
97,99,BeamNG.drive,BEAMNG,Careers,11015,12976,20691
98,93,Russian Fishing 4,RFISHING4,Simulator,11984,13225,14317
99,90,Factorio,FACT,Casual,12534,14971,3470

# **3. Cleaning**

## Column Names

In [111]:
#Change name for game
d.rename(columns = {"Name": "Game"}, inplace = True)

#Change Genres for type
d.rename(columns = {"Genres": "Type"}, inplace = True)

#check
d.head()

,Position,Game,Code,Type,Current,24h Peak,All-Time Peak
0,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896,400679,3257248
1,1,Counter-Strike: Global Offensive,CSG,Action,1152010,1365336,1519457
2,17,Lost Ark,L.ARK,Role,63053,87893,1325305
3,2,Dota 2,DOTA,Action,573258,581345,1295114
4,77,Cyberpunk 2077,CYBER2077,Role,14635,15228,1054388

## Delete Columns

In [112]:
d = d.drop(columns = ["24h Peak"])
d.head()

,Position,Game,Code,Type,Current,All-Time Peak
0,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896,3257248
1,1,Counter-Strike: Global Offensive,CSG,Action,1152010,1519457
2,17,Lost Ark,L.ARK,Role,63053,1325305
3,2,Dota 2,DOTA,Action,573258,1295114
4,77,Cyberpunk 2077,CYBER2077,Role,14635,1054388

## A few more things

In [113]:
# (optional) Duplicate the dataframe

dd = d

# **4. Indexing**

In [114]:
# Create an index
#Esto no es funcional dado que los indices ya est√°n
# idx = pd.MultiIndex.from_product(dd["Type"].unique()],
#                                names = ["Type"])
#Reindex the dataframe
dd = dd.set_index(["Type"])

#Check
dd.head()

,Position,Game,Code,Current,All-Time Peak
Type,,,,,
Action-battle royal,4,PUBG: BATTLEGROUNDS,PUBG,312896,3257248
Action,1,Counter-Strike: Global Offensive,CSG,1152010,1519457
Role,17,Lost Ark,L.ARK,63053,1325305
Action,2,Dota 2,DOTA,573258,1295114
Role,77,Cyberpunk 2077,CYBER2077,14635,1054388

# **5. Basic Statistics**

In [115]:
# By variable
dd[["Current", "All-Time Peak"]].describe()

            Current  All-Time Peak
count  1.000000e+02   1.000000e+02
mean   5.444524e+04   2.492969e+05
std    1.319954e+05   4.290877e+05
min    1.087200e+04   3.470000e+03
25%    1.503475e+04   5.667650e+04
50%    2.313750e+04   9.675050e+04
75%    3.999550e+04   2.348308e+05
max    1.152010e+06   3.257248e+06

In [120]:
# By variable and Type

dd[["Current","All-Time Peak"]].groupby("Type").describe()

                    Current                                                    \
                      count           mean            std      min        25%
Type
Action                 25.0  108411.400000  244228.630893  10872.0   14514.00
Action-battle royal     3.0  233839.333333  143323.239488  68398.0  190647.00
Adventure               5.0   21206.000000   11521.960272  12828.0   12912.00
Audio                   1.0   16008.000000            NaN  16008.0   16008.00
Careers                 2.0   12190.500000    1662.408043  11015.0   11602.75
Casual                  8.0   29379.625000   18759.886422  12534.0   15342.50
Role                   19.0   24988.421053   11953.738083  12682.0   17839.50
Simulator               8.0   22861.125000    8564.886813  11984.0   18424.50
Software                2.0  121376.000000   46874.108525  88231.0  104803.50
Sport                   2.0   12566.500000    1225.416052  11700.0   12133.25
Sports                  4.0   44119.500000   23044.614881  23836.0   24330.25
Strategy               11.0   25180.818182   12985.546225  13038.0   16621.50
Survival                8.0   28386.875000   13381.907289  13480.0   21287.25
Terror                  2.0   22574.500000   14732.569786  12157.0   17365.75

                                                    All-Time Peak  \
                          50%        75%        max         count
Type
Action                28674.0   82716.00  1152010.0          25.0
Action-battle royal  312896.0  316560.00   320224.0           3.0
Adventure             16827.0   23034.00    40429.0           5.0
Audio                 16008.0   16008.00    16008.0           1.0
Careers               12190.5   12778.25    13366.0           2.0
Casual                23626.0   36415.00    58249.0           8.0
Role                  21875.0   27308.50    63053.0          19.0
Simulator             21622.5   27625.00    36454.0           8.0
Software             121376.0  137948.50   154521.0           2.0
Sport                 12566.5   12999.75    13433.0           2.0
Sports                44091.5   63880.75    64459.0           4.0
Strategy              19337.0   31763.00    54869.0          11.0
Survival              24539.0   33123.25    53957.0           8.0
Terror                22574.5   27783.25    32992.0           2.0

                                                                      \
                             mean           std       min        25%
Type
Action               2.527134e+05  3.617389e+05   26104.0   70701.00
Action-battle royal  1.457797e+06  1.559784e+06  491670.0  558071.50
Adventure            1.683402e+05  1.940345e+05   34238.0   38058.00
Audio                2.192000e+04           NaN   21920.0   21920.00
Careers              5.089350e+04  4.271279e+04   20691.0   35792.25
Casual               1.332271e+05  2.324811e+05    3470.0   34060.00
Role                 4.188213e+05  4.380243e+05   25863.0   65150.50
Simulator            6.248575e+04  3.091730e+04   14317.0   52161.00
Software             1.792875e+05  4.563455e+04  147019.0  163153.25
Sport                9.853100e+04  1.380838e+04   88767.0   93649.00
Sports               9.485950e+04  4.650752e+04   37213.0   72089.50
Strategy             9.962300e+04  7.056291e+04   33086.0   51054.00
Survival             1.876255e+05  1.799556e+05   63046.0   67617.75
Terror               1.089050e+05  5.390982e+03  105093.0  106999.00


                          50%         75%        max
Type
Action               167951.0   245243.00  1519457.0
Action-battle royal  624473.0  1940860.50  3257248.0
Adventure             66906.0   212613.00   489886.0
Audio                 21920.0    21920.00    21920.0
Careers               50893.5    65994.75    81096.0
Casual                51460.0    86820.50   702845.0
Role                 231360.0   896471.00  1325305.0
Simulator             60935.0    79479.25   105636.0
Software             179287.5   195421.75   211556.0
Sport                 98531.0   103413.00   108295.0
Sports                97296.5   120066.50   147632.0
Strategy              70997.0   130764.50   262689.0
Survival              69541.0   289868.00   502387.0
Terror               108905.0   110811.00   112717.0

# **6. Filters and Pivots**

#  Simple Filters

In [119]:
# Filter by Type name and save it
Survival = dd.filter(like= "Survival", axis=0)
print(Survival)

          Position                   Game     Code  Current  All-Time Peak
Type
Survival        48                Valheim    VALHM    23685         502387
Survival        73     Sons Of The Forest   FOREST    16005         414257
Survival        22  ARK: Survival Evolved      ARK    53957         248405
Survival        51          7 Days to Die    7DAYD    23048          70664
Survival        42  Don't Starve Together    D.S.T    25393          68418
Survival        82                   SCUM     SCUM    13480          68322
Survival        35        Project Zomboid  PYZOMBD    30483          65505
Survival        24                   DayZ     DAYZ    41044          63046

## Simple Pivots

In [125]:
# Creating is a data frame with the time-serie of Type
ts_type = d.pivot(index = "Type",
                  columns = "Game",
                  values = "All-Time Peak")
print(ts_type)

Game                 7 Days to Die  ARK: Survival Evolved  \
Type
Action                         NaN                    NaN
Action-battle royal            NaN                    NaN
Adventure                      NaN                    NaN
Audio                          NaN                    NaN
Careers                        NaN                    NaN
Casual                         NaN                    NaN
Role                           NaN                    NaN
Simulator                      NaN                    NaN
Software                       NaN                    NaN
Sport                          NaN                    NaN
Sports                         NaN                    NaN
Strategy                       NaN                    NaN
Survival                   70664.0               248405.0
Terror                         NaN                    NaN

Game                 Age of Empires II: Definitive Edition  Albion Online  \
Type
Action                                                 NaN            NaN
Action-battle royal                                    NaN            NaN
Adventure                                              NaN            NaN
Audio                                                  NaN            NaN
Careers                                                NaN            NaN
Casual                                                 NaN            NaN
Role                                                   NaN        25863.0
Simulator                                              NaN            NaN
Software                                               NaN            NaN
Sport                                                  NaN            NaN
Sports                                                 NaN            NaN
Strategy                                           38725.0            NaN
Survival                                               NaN            NaN
Terror                                                 NaN            NaN

Game                 Apex Legends   Arma 3  Battlefield‚Ñ¢ 2042  Battlefield‚Ñ¢ V  \
Type
Action                        NaN  56679.0           105397.0         89814.0
Action-battle royal      624473.0      NaN                NaN             NaN
Adventure                     NaN      NaN                NaN             NaN
Audio                         NaN      NaN                NaN             NaN
Careers                       NaN      NaN                NaN             NaN
Casual                        NaN      NaN                NaN             NaN
Role                          NaN      NaN                NaN             NaN
Simulator                     NaN      NaN                NaN             NaN
Software                      NaN      NaN                NaN             NaN
Sport                         NaN      NaN                NaN             NaN
Sports                        NaN      NaN                NaN             NaN
Strategy                      NaN      NaN                NaN             NaN
Survival                      NaN      NaN                NaN             NaN
Terror                        NaN      NaN                NaN             NaN

Game                 BeamNG.drive  Black Desert  ...  \
Type                                             ...
Action                        NaN           NaN  ...
Action-battle royal           NaN           NaN  ...
Adventure                     NaN           NaN  ...
Audio                         NaN           NaN  ...
Careers                   20691.0           NaN  ...
Casual                        NaN           NaN  ...
Role                          NaN       60395.0  ...
Simulator                     NaN           NaN  ...
Software                      NaN           NaN  ...
Sport                         NaN           NaN  ...
Sports                        NaN           NaN  ...
Strategy                      NaN           NaN  ...
Survival                      NaN           NaN  ...
Terror                        NaN           NaN  ...

Game                 Total War: WARHAMMER III  Unturned   VRChat   Valheim  \
Type
Action                                    NaN       NaN      NaN       NaN
Action-battle royal                       NaN       NaN      NaN       NaN
Adventure                                 NaN       NaN      NaN       NaN
Audio                                     NaN       NaN      NaN       NaN
Careers                                   NaN       NaN      NaN       NaN
Casual                                    NaN  112703.0  46814.0       NaN
Role                                      NaN       NaN      NaN       NaN
Simulator                                 NaN       NaN      NaN       NaN
Software                                  NaN       NaN      NaN       NaN
Sport                                     NaN       NaN      NaN       NaN
Sports                                    NaN       NaN      NaN       NaN
Strategy                             166754.0       NaN      NaN       NaN
Survival                                  NaN       NaN      NaN  502387.0
Terror                                    NaN       NaN      NaN       NaN

Game                 Wallpaper Engine  War Thunder  Warframe  \
Type
Action                            NaN     113250.0  189837.0
Action-battle royal               NaN          NaN       NaN
Adventure                         NaN          NaN       NaN
Audio                             NaN          NaN       NaN
Careers                           NaN          NaN       NaN
Casual                            NaN          NaN       NaN
Role                              NaN          NaN       NaN
Simulator                         NaN          NaN       NaN
Software                     147019.0          NaN       NaN
Sport                             NaN          NaN       NaN
Sports                            NaN          NaN       NaN
Strategy                          NaN          NaN       NaN
Survival                          NaN          NaN       NaN
Terror                            NaN          NaN       NaN

Game                 World of Tanks Blitz  Yu-Gi-Oh! Master Duel  tModLoader
Type
Action                            56669.0                    NaN         NaN
Action-battle royal                   NaN                    NaN         NaN
Adventure                             NaN                    NaN     38058.0
Audio                                 NaN                    NaN         NaN
Careers                               NaN                    NaN         NaN
Casual                                NaN                    NaN         NaN
Role                                  NaN                    NaN         NaN
Simulator                             NaN                    NaN         NaN
Software                              NaN                    NaN         NaN
Sport                                 NaN                    NaN         NaN
Sports                                NaN                    NaN         NaN
Strategy                              NaN               262689.0         NaN
Survival                              NaN                    NaN         NaN
Terror                                NaN                    NaN         NaN

[14 rows x 100 columns]

# **7. Basic Line / BarGraph**

In [126]:
#Graph the survival 

fig = px.line(Survival, x = "Game", y = "Current")
fig.show()