<a href="https://colab.research.google.com/github/EstebanJM/V.Data/blob/main/project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Intro**
Description

#**2. Import**

In [29]:
# Libraries 

import numpy as np
import pandas as pd
import plotly.express as px

In [30]:
p = "/content/Data1.xlsx"

d = pd.read_excel(p)

d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Posición       100 non-null    int64
 1   Name           100 non-null    object
 2   Code           100 non-null    object
 3   Genres         100 non-null    object
 4   Current        100 non-null    float64
 5   24h Peak       100 non-null    float64
 6   All-Time Peak  100 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

In [31]:
# Check the first entries
d.head()

,Posición,Name,Code,Genres,Current,24h Peak,All-Time Peak
0,1,Counter-Strike: Global Offensive,CSG,Action,1152010.0,1365336.0,1519457.0
1,2,Dota 2,DOTA,Action,573258.0,581345.0,1295114.0
2,3,Apex Legends,APEX,Action-battle royal,320224.0,469154.0,624473.0
3,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896.0,400679.0,3257248.0
4,5,Source SDK Base 2007,SDK,Software,154521.0,188622.0,211556.0

In [32]:
# check the last entries
d.tail()

,Posición,Name,Code,Genres,Current,24h Peak,All-Time Peak
95,96,Battlefield™ 2042,BATTL2042,Action,11306.00,13336.0,105397.0
96,97,Battlefield™ V,BATTLV,Action,11306.00,17297.0,89814.0
97,98,Counter-Strike,CS,Action,11.23,13654.0,319586.0
98,99,BeamNG.drive,BEAMNG,Careers,11015.00,12976.0,20691.0
99,100,Squad,SQUAD,Action,10872.00,12464.0,26104.0

# **3. Cleaning**

## Column Names

In [33]:
# Change posición for position
d.rename(columns = {"Posición": "Position"}, inplace = True)

#Change name for game
d.rename(columns = {"Name": "Game"}, inplace = True)

#Change Genres for type
d.rename(columns = {"Genres": "Type"}, inplace = True)

#check
d.head()

,Position,Game,Code,Type,Current,24h Peak,All-Time Peak
0,1,Counter-Strike: Global Offensive,CSG,Action,1152010.0,1365336.0,1519457.0
1,2,Dota 2,DOTA,Action,573258.0,581345.0,1295114.0
2,3,Apex Legends,APEX,Action-battle royal,320224.0,469154.0,624473.0
3,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896.0,400679.0,3257248.0
4,5,Source SDK Base 2007,SDK,Software,154521.0,188622.0,211556.0

## Delete Columns

In [34]:
d = d.drop(columns = ["24h Peak"])
d.head()

,Position,Game,Code,Type,Current,All-Time Peak
0,1,Counter-Strike: Global Offensive,CSG,Action,1152010.0,1519457.0
1,2,Dota 2,DOTA,Action,573258.0,1295114.0
2,3,Apex Legends,APEX,Action-battle royal,320224.0,624473.0
3,4,PUBG: BATTLEGROUNDS,PUBG,Action-battle royal,312896.0,3257248.0
4,5,Source SDK Base 2007,SDK,Software,154521.0,211556.0

## A few more things

In [35]:
# (optional) Duplicate the dataframe

dd = d